<!DOCTYPE html>
<html>
    <head>
         <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css')}}">

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css')}}">

        {% if title %}
            <title>Flask Blog - {{title}}</title>
        {% else %}
            <title>Flask Blog</title>
        {% endif %}
    </head>
    <body>
        <nav class="navbar navbar-dark navbar-expand-sm fixed-top">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand mr-4" href="#">Blog Space</a>
                <div class="collapse navbar-collapse" id="Navbar">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('main.home') }}">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('main.about') }}">About</a></li>
                    </ul>
                    <ul class="navbar-nav">
                        {% if current_user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('posts.new_post') }}"><span class="fa fa-file-text-o"></span>New Post</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{ url_for('users.account') }}"><span class="fa fa-user-circle-o"></span>Account</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{ url_for('users.logout') }}"><span class="fa fa-sign-out"></span>Logout</a></li>                    
                        {% else %}

                                <li class="nav-item"><a class="nav-link" href="{{ url_for('users.login') }}"><span class="fa fa-sign-in"></span> Login</a></li>
                                <li class="nav-item"><a class="nav-link" href="{{ url_for('users.register') }}""><span class="fa fa-circle"></span> Register</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <main role="main" class="container">
            <div class="row">
                <div class="col-12 col-md-8">
                    <!-- Placement of the flash messages. with_categories will take the bootstrap class e.g. success -->
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                <div class = "alert alert-{{ category }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    {% block content %} {% endblock %}
                </div>
                <div class="col-12 col-md-4">
                    <div class="card">
                        <h3 class="card-header bg-info text-white">Sidebar</h3>
                        <p class='text-muted card-text ml-2'>Other information.</p>
                        <div class="card-body">
                            <ul class="list-group">
                                <li class="list-group-item list-group-item-light">Latest Posts</li>
                                <li class="list-group-item list-group-item-light">Announcements</li>
                                <li class="list-group-item list-group-item-light">Calendars</li>
                                <li class="list-group-item list-group-item-light">Favorites</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>